
org.eclipse.bpmn2.modeler.standalone.parent/.project

org.eclipse.bpmn2.modeler.standalone.product/.project

org.eclipse.bpmn2.modeler.standalone.bundle/.classpath

org.eclipse.bpmn2.modeler.standalone.bundle/.project

.project

org.eclipse.bpmn2.modeler.standalone.bundle/.settings/org.eclipse.jdt.core.prefs

org.eclipse.bpmn2.modeler.standalone.bundle/.settings/org.eclipse.m2e.core.prefs

org.eclipse.bpmn2.modeler.standalone.parent/.settings/org.eclipse.m2e.core.prefs

*.iml

org.eclipse.bpmn2.modeler.standalone.product/.settings/org.eclipse.m2e.core.prefs

org.eclipse.bpmn2.modeler.standalone.tests/.classpath

org.eclipse.bpmn2.modeler.standalone.tests/.settings/org.eclipse.jdt.core.prefs

org.eclipse.bpmn2.modeler.standalone.tests/.settings/org.eclipse.m2e.core.prefs

.settings/org.eclipse.m2e.core.prefs

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml
*.class
org.eclipse.bpmn2.modeler.standalone.bundle/target/classes/it/sauronsoftware/junique/package.html
*.jar
